.task-tracker-container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 确保伪元素不会超出容器范围 */
}

.task-tracker-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.7; /* 这里设置背景图片的透明度 */
  z-index: -1; /* 确保背景图片在内容之下 */
}

/* 确保其他内容在背景之上 */
.task-tracker-container > * {
  position: relative;
}

.sidebar {
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1vw 0;
  box-sizing: border-box;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  @media (max-width: 600px) {
    width: 30vw; /* Decrease the width for smaller screens */
  }
  @media (min-width: 601px) {
    width: 20vw; /* Keep the width for larger screens */
  }
}

h1 {
  cursor: pointer;
  color: #ba5112;
  margin-top: 2vh;
  font-weight: 600;
  font-family: "Lexend";
  width: 100%;
  text-align: center;
  @media (max-width: 600px) {
    font-size: 1rem; /* Decrease the font size for smaller screens */
    line-height: 3vw; /* Decrease the line height for smaller screens */
  }
  @media (min-width: 601px) {
    font-size: 1.5rem; /* Increase the font size for larger screens */
    line-height: 5vw; /* Increase the line height for larger screens */
  }
}

.add-task {
  margin: 1vw 0; /* Add margin for spacing */

  .add-task-button {
    font-family: "Lexend";
    display: flex;
    line-height: 3rem;
    align-items: center; /* Centers the text and icon vertically */
    justify-content: space-between; /* Puts space between the text and the icon */
    background-color: #ffffff; /* Button background color */
    border: 1px solid #ccc; /* Border color */
    border-radius: 20px; /* Rounded corners for the button */
    cursor: pointer; /* Change the cursor on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    outline: none; /* Removes the outline */
    border: none; /* Removes the border */
    position: relative; /* Establishes a positioning context for absolutely positioned children */
    gap: 0.5rem; /* Gap between the text and the icon */
    margin-left: 2vw;
    margin-right: 2vw;
    @media (max-width: 600px) {
      font-size: 0.8rem; /* Decrease the font size for smaller screens */
      padding: 0.2rem 0.2rem; /* Padding inside the button */
    }
    @media (min-width: 601px) {
      font-size:1.25rem; 
      padding: 0.75rem 1rem; /* Padding inside the button */
    }
  }

  .icon-circle {
    background-color: #ba5112; /* Circle background color */
    color: #ffffff; /* Icon color */
    padding: 8px; /* Padding inside the circle */
    border-radius: 50%; /* Makes the span a circle */
    display: flex; /* Enables center alignment for the plus */
    align-items: center; /* Centers the plus vertically */
    justify-content: center; /* Centers the plus horizontally */
    width: 25px; /* Width of the circle */
    height: 25px; /* Height of the circle */
    margin-left: auto; /* Pushes the circle to the right */
  }
}

.profile-button {
  background-image: url("../profile.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  display: flex;
  position: fixed;
  top: 2vw; // 顶部的位置可以使用 vw 单位保持响应性
  right: 12rem; // 保持距离 sign-out 按钮适当的距离
  width: 2.5rem; // 使用 rem 单位
  height: 2.5rem; // 使用 rem 单位
  border: none;
  cursor: pointer;
  border-radius: 50%; // 圆形按钮
  outline: none;
}

@media (max-width: 600px) {
  .profile-button {
    top: 1rem; // 减小顶部距离
    right: 7rem; // 减小右侧距离
    width: 2rem; // 减小宽度
    height: 2rem; // 减小高度
  }
}

.sign-out-button {
  display: flex;
  position: fixed;
  top: 2vw; // 这里使用了视口宽度单位，可以根据屏幕大小进行调整
  left: auto; // 改为 auto，使按钮能够基于右侧对齐
  right: 2rem; // 保持按钮相对于屏幕右侧有一定的距离
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem; // 使用 rem 单位，它们基于根元素的字体大小进行缩放
  font-family: "Lexend";
  font-size: 1rem; // 使用 rem 单位以响应不同的屏幕尺寸
  background-color: #ba5112;
  border: none;
  color: #ffffff;
  border-radius: 0.5rem; // 使用 rem 单位保持一致性
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  gap: 0.5rem; // 使用 rem 单位
  white-space: nowrap; // 防止文本换行
}

@media (max-width: 600px) {
  .sign-out-button {
    top: 1rem; // 对于小屏幕，减小顶部距离
    font-size: 0.8rem; // 对于小屏幕，减小字体大小
    padding: 0.5rem; // 减小内边距
    gap: 0.3rem; // 减小图标和文本之间的距离
  }
}

.icon-logout {
  display: inline-block; // 使图标能够与文本在同一行显示
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1rem; // 使用 rem 单位
  height: 1rem; // 使用 rem 单位
  background-image: url("../logout-icon.png");
}

@media (max-width: 600px) {
  .icon-logout {
    display: none;
  }
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 600px) {
    width: 30vw; /* Decrease the width for smaller screens */
    font-size: 0.8rem; /* Decrease the font size for smaller screens */
  }
  @media (min-width: 601px) {
    width: 20vw; /* Keep the width for larger screens */
    font-size: 1.2rem; /* Increase the font size for larger screens */
  }
}

.nav-button {
  background: none;
  font-family: "Lexend";
  border: none;
  padding: 1vw;
  margin: 0.5vw 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  // font-size: 0.8rem;
}

.nav-button.active {
  background-color: #edb046;
  color: #ffffff;
}

.main-content {
  flex-grow: 1;
  padding: 1rem;
  margin-top: 10vh;
  @media (max-width: 600px) {
    margin-top: 6vh; /* Decrease the margin for smaller screens */
  }
}

a:hover {
  text-decoration: none; /* 这将移除悬停时的下划线 */
}

.greeting-section {
  position: relative;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 2rem;
  width: 90%;
  height: 25%;
  margin-left: 2rem; /* Space from the sidebar */
  margin-right: 1rem;
  margin-bottom: 5%;
  align-content: center;
  margin-top: 0.5rem;
  @media (max-width: 600px) {
    margin-left: 1rem; /* Decrease the margin for smaller screens */
    margin-right: 1rem; /* Decrease the margin for smaller screens */
  }


  h2 {
    font-family: "Lexend";
    font-weight: 600;
    font-size: 2rem; /* 35px / 16px = 2.1875rem */
    line-height: 1.6;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    color: #251814;
    @media (max-width: 600px) {
      font-size: 1.6rem; /* 24px / 16px = 1.5rem */
    }
  }

  p {
    font-family: "Lexend";
    margin-bottom: 1.5rem;
  }

  .date {
    position: absolute;
    right: 1rem; /* 根据需要调整，这将把日期推向右下角 */
    bottom: 1rem; /* 根据需要调整，这也将把日期推向右下角 */
    font-family: "Lexend";
    line-height: 1;
    font-size: 0.8rem;
    color: #666;
    @media (max-height: 400px) {
      font-size: 0.7rem; /* Decrease the font size for smaller screens */
    }
  }
}

.task-section {
  @media (max-width: 600px) {
    margin-left: 1rem; /* Decrease the margin for smaller screens */
    margin-right: 1rem; /* Decrease the margin for smaller screens */
  }
  background: transparent;
  border-radius: 5px;
  margin-left: 2rem;
  width: 90%;

  .task-header {
    font-family: "Lexend";
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: 500;
      @media (max-width: 600px) {
        font-size: 1.25rem; /* Decrease the font size for smaller screens */
      }
    }
  }

  .delete-all-button {
    background: none;
    border: none;
    height: 5vh;
    font-family: "Lexend";
    font-style: normal;
    font-size: 1rem;
    line-height: 100%;
    color: #ba5112;
    @media (max-width: 600px) {
      font-size: 0.8rem; /* Decrease the font size for smaller screens */
    }
  }

  .task-list {
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow-y: auto; // Enable vertical scrolling
    margin-bottom: 10%; // Space between the task list and the add task button

    .task-item {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem; // Space between the custom checkbox and the task text
      margin-bottom: 1rem; // Space between task items
      padding: 1rem;
      background: #ffffff; // Default background color, assuming this matches the unchecked state
      border-radius: 1rem; // Rounded corners for the task item
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease; // Smooth transition for background color change
    }

    .custom-checkbox {
      position: relative;
      cursor: pointer;
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0;
    }

    .custom-checkbox input[type="checkbox"] {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0;
      z-index: 1;
      cursor: pointer;
    }

    .checkbox-style {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      border: 2px solid #edb046;
      border-radius: 50%;
      z-index: 0;
    }

    .custom-checkbox input[type="checkbox"]:checked ~ .checkbox-style {
      background-color: #ba5112;
    }

    .task-text {
      font-family: "Lexend", sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #251814; /* Default text color */
      padding-left: 2vw; /* Space for the custom checkbox */
      @media (max-width: 600px) {
        font-size: 0.8rem; /* Decrease the font size for smaller screens */
      }
    }

    /* Change the background color of the entire task item when checked */
    .task-item.checked {
      background-color: #edb046; // Background color for the checked state (orange)
      box-shadow: none; // Assuming no shadow in the checked state
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1.25rem;
  border: none;
  border-radius: 10px;
  @media (min-width: 600px) {
    width: 50vw;
  }
  @media (max-width: 600px) {
    width: 70vw;
  }
}

input[type="text"],
textarea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width of the modal-content */
  padding: 12px; /* Padding inside the input */
  margin-bottom: 16px; /* Space between inputs */
  border: none;
  border-radius: 12px; /* Slightly rounded corners */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 1em; /* Larger font size */
}

.modal-content textarea[placeholder="Add description"] {
  min-height: 100px; /* 或者你想要的任何高度 */
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: none;
  padding: 10px 0;
}

.modal-actions {
  display: flex;
  gap: 0.5rem; /* 按钮之间的空间 */
  justify-content: flex-end;
}

.add-modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 1rem 0;
}

.delete-button {
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  background-color: #d9534f;
  border: none;
  margin-right: auto; /* 将删除按钮推向左侧 */
}

.cancel-button {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1em;
  color: black;
  background-color: #ffffff;
  border: 2px solid #edb046;
}

.save-button {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  background-color: #edb046;
  border: none;
}

.button-disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed; /* 禁止光标图标 */
  /* 确保按钮在禁用状态下看起来不是互动的 */
  pointer-events: none;
}