.task-tracker-container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

.task-tracker-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.7;
  z-index: -1;
}

.sidebar {
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1vw 0;
  box-sizing: border-box;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  @media (max-width: 600px) {
    width: 30vw;
  }
  @media (min-width: 601px) {
    width: 20vw;
  }
}

h1 {
  cursor: pointer;
  color: #ba5112;
  margin-top: 2vh;
  font-weight: 600;
  font-family: "Lexend";
  width: 100%;
  text-align: center;
  @media (max-width: 600px) {
    font-size: 1rem;
    line-height: 3vw;
  }
  @media (min-width: 601px) {
    font-size: 1.5rem;
    line-height: 5vw;
  }
}

.main-content {
  flex-grow: 1;
  padding: 1rem;
  margin-top: 10vh;
  @media (max-width: 600px) {
    margin-top: 6vh;
  }
}

.edit-profile {
  width: 85%;
  padding: 2rem;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  max-height: 100%;
  overflow-y: auto;
  @media (max-width: 600px) {
    margin-left: 1rem;
  }
  h2 {
    margin-bottom: 1rem;
    font-family: "Lexend";
    right: 2rem;
    white-space: nowrap;
  }

  label {
    font-family: "Lexend";
    display: block;
    margin-top: 0.5em;
    font-weight: 400;
  }

  input {
    font-family: "Lexend";
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  select {
    display: block;
    font-family: "Lexend";
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    margin-bottom: 0.5em;
    border-radius: 5px;
  }
}

.button {
  display: flex;
  position: absolute;
  left: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  color: #ffffff;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  white-space: nowrap;
  gap: 0.5rem;
  @media (max-width: 600px) {
    font-size: 0.8rem;
    padding: 0.5rem;
    gap: 0.3rem;
  }
}

.sign-out-button {
  left: auto;
  right: 2rem;
  background-color: #ba5112;
  top: 2vw;

  .icon-logout {
    background-image: url("../logout-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1rem;
    height: 1rem;
  }

  @media (max-width: 600px) {
    top: 1rem;
  }
}

@media (max-width: 600px) {
  .icon-logout {
    display: none;
  }
  .icon-return {
    display: none;
  }
}

.return-button {
  top: 2vw;
  left: auto;
  background-color: #ffb92e;
  right: 11rem;

  .icon-return {
    background-image: url("../return-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1rem;
    height: 1rem;
  }
  @media (max-width: 600px) {
    right: 7rem;
    top: 1rem;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 1rem;
}

.cancel-button {
  background-color: #ffb92e;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Lexend";
  font-weight: 400;
  margin-top: -2vh;
  margin-right: 1rem;
  position: inherit;
}

.save-button {
  background-color: #ba5112;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Lexend";
  font-weight: 400;
  margin-top: -2vh;
  position: inherit;
}

.button.save-button:disabled,
.button-disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.error-message {
  font-family: "lexend";
  color: #d9534f;
  font-size: 14px;
}
